---
import { Image } from "astro:assets";
import { fetchDataFromAPI } from "../script/api";
import { processImage } from "../script/minifyImage";

let dataList = await fetchDataFromAPI(
  "https://api.themoviedb.org/3/genre/movie/list"
);

const genreList: any = {
  asString(genreIdList: any) {
    let newGenreList = [];

    for (let genreId of genreIdList) {
      this[genreId] && newGenreList.push(this[genreId]);
    }
    return newGenreList.join(", ");
  },
};
for (let { id, name } of dataList.genres) {
  genreList[id] = name;
}

const fetchData: any = await fetchDataFromAPI(
  "https://api.themoviedb.org/3/movie/popular"
);
let Movies = fetchData.results;

for (let movie of Movies) {
  movie.poster_path = await processImage(
    `https://image.tmdb.org/t/p/w154${movie.poster_path}`
  );
  movie.backdrop_path = await processImage(
    `https://image.tmdb.org/t/p/w1280${movie.backdrop_path}`
  );
}

---

<section class="hero" aria-label="popular">
  <div class="inner-banner relative">
    <div class="slider-banner relative">
      {
        Movies.map((sliderItems: any) => (
          <div class="slider-banner-items ">
            
            <Image
              src={sliderItems.backdrop_path}
              alt={sliderItems.title}
              height={700}
              widths={[ 300, 780]}
              width={1280}
              class="img-cover "
              loading="eager"
            />
            
            <div class="details-banner absolute">
              <h3 class="title-banner fs-r-48 fw-700">{sliderItems.title}</h3>
              <div class="details mt-8">
                <div class="review d-flex align-items-center">
                  <p class="year fs-r-16">
                    {" "}
                    {sliderItems.release_date.split("-")[0]}{" "}
                  </p>
                  <p class="rate rate-badge fs-r-16 py-2 px-4 round-4">
                    {sliderItems.vote_average.toFixed(1)}
                  </p>
                </div>
                <p class="genre mb-8  fs-r-16">
                  {genreList.asString(sliderItems.genre_ids)}
                </p>
                <p class="overview mb-10  fs-r-16">{sliderItems.overview}</p>
                <button
                  type="button"
                  aria-label="watch now"
                  class="btn btn-skew round-8 px-7 py-5">
                  <i class="bi bi-play-circle pr-2" />
                    watch now
                </button>
              </div>
            </div>
          </div>
        ))
      }
    </div>
    <div class="slider-control">
      <div class="inner-control d-flex">
        {
          Movies.map((controlBtn: any) => (
            <button
              type="button"
              aria-label={controlBtn.title}
              class="btn control-btn poster-box ">
              <Image
                src={controlBtn.poster_path}
                alt={controlBtn.title}
                height={300}
                width={154}
                widths={[ 92]}
                class="img-cover"
                draggable="false"
              />
            </button>
          ))
        }
      </div>
    </div>
  </div>
</section>
<style lang="scss">
  .hero {
    border-radius: 24px;

    .slider-banner {
      height: 600px;
      width: 100%;
      overflow: hidden;

      .slider-banner-items {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 120%;
        transition: var(--ts);
        opacity: 0;
        visibility: hidden;

        &.active {
          opacity: 1;
          visibility: visible;
          left: 0;
        }
        &::before {
          content: "";
          position: absolute;
          inset: 0;
          background-image: linear-gradient(var(--banner-overlay));
          border-radius: 24px;
        }

        img {
          border-radius: 24px;
        }

        //
        .details-banner {
          left: 24px;
          right: 24px;
          bottom: 180px;
          @media (max-width: 767px) {
            bottom: 200px;
          }

          max-width: 600px;
          color: var(--text-color);
          
          .review {
            gap: 10px;
            margin-bottom: 15px;
          }
          .title-banner , .overview{
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
          .overview {
            -webkit-line-clamp: 2;
            line-height: 1.8;

            
          }
          .title-banner {
            color: var(--white);
            -webkit-line-clamp: 3;
            line-height: 1.4;
          }
        }
      }
    }

    .slider-control {
      position: absolute;
      left: 60%;
      right: 0px;
      bottom: 20px;

      padding: 4px 0px 4px 4px;
      user-select: none;
      overflow-x: auto;
      border-radius: 24px;
      overscroll-behavior-inline: contain;
      @media (max-width: 767px) {
        left: 30%;
      }
      @media (max-width: 480px) {
        left: 20px;
      }
      &::-webkit-scrollbar {
        display: none;
      }
      .inner-control {
        gap: 12px;

        &::after {
          content: "";
          min-width: 12px;
        }
        .control-btn {
          width: 120px;
          border-radius: 16px;
          flex-shrink: 0;
          @media (max-width: 991px) {
            width: 100px;
          }
          filter: brightness(0.4);
          &.active {
            filter: brightness(1);
            box-shadow: var(--shadow-1);
          }
        }
      }
    }
  }
</style>
<script>
  let silderBanner = document.querySelectorAll(".slider-banner-items");
  let ControlBtn = document.querySelectorAll(".control-btn");
  const itemsArray = Array.from(ControlBtn);

  silderBanner[0].classList.add("active");

  itemsArray[0].classList.add("active");
  ControlBtn.forEach((btn) => {
    btn.addEventListener("click", () => {
      let btnIndex = itemsArray.indexOf(btn);

      //
      ControlBtn.forEach((sibling) => {
        sibling.classList.remove("active");
      });
      btn.classList.add("active");

      silderBanner.forEach((sibling) => {
        sibling.classList.remove("active");
      });

      silderBanner[btnIndex].classList.add("active");
    });
  });
</script>
