---
import Card from "./Card.astro";
import controlImg from "../assets/img/slider-control.jpg";
---
<section class="movie-list-page" aria-label="movie-list-page">
    <h4 class="fs-r-36 mb-12 mt-5">All Fantasy Movies</h4>
    <div class="row gap-1">
        <div class="col-2-lg col-3-md col-6-sm">
            <Card title="Sound of Freedom Sound of Freedom" year={2023} rate={8.5} href="/detail" img={controlImg} alt="movie"  />
        </div>
        <div class="col-2-lg col-3-md col-6-sm ">
            <Card title="Sound of Freedom Sound of Freedom" year={2023} rate={8.5} href="/detail" img={controlImg} alt="movie"  />
        </div>
        <div class="col-2-lg col-3-md col-6-sm">
            <Card title="Sound of Freedom Sound of Freedom" year={2023} rate={8.5} href="/detail" img={controlImg} alt="movie"  />
        </div>
        <div class="col-2-lg col-3-md col-6-sm">
            <Card title="Sound of Freedom Sound of Freedom" year={2023} rate={8.5} href="/detail" img={controlImg} alt="movie"  />
        </div>
        <div class="col-2-lg col-3-md col-6-sm">
            <Card title="Sound of Freedom Sound of Freedom" year={2023} rate={8.5} href="/detail" img={controlImg} alt="movie"  />
        </div>
        <div class="col-2-lg col-3-md col-6-sm">
            <Card title="Sound of Freedom Sound of Freedom" year={2023} rate={8.5} href="/detail" img={controlImg} alt="movie"  />
        </div>
        <div class="col-2-lg col-3-md col-6-sm">
            <Card title="Sound of Freedom Sound of Freedom" year={2023} rate={8.5} href="/detail" img={controlImg} alt="movie"  />
        </div>
        <div class="col-2-lg col-3-md col-6-sm">
            <Card title="Sound of Freedom Sound of Freedom" year={2023} rate={8.5} href="/detail" img={controlImg} alt="movie"  />
        </div>
        <div class="col-2-lg col-3-md col-6-sm">
            <Card title="Sound of Freedom Sound of Freedom" year={2023} rate={8.5} href="/detail" img={controlImg} alt="movie"  />
        </div>
        <div class="col-2-lg col-3-md col-6-sm">
            <Card title="Sound of Freedom Sound of Freedom" year={2023} rate={8.5} href="/detail" img={controlImg} alt="movie"  />
        </div>
        <div class="col-2-lg col-3-md col-6-sm">
            <Card title="Sound of Freedom Sound of Freedom" year={2023} rate={8.5} href="/detail" img={controlImg} alt="movie"  />
        </div>
        <div class="col-2-lg col-3-md col-6-sm">
            <Card title="Sound of Freedom Sound of Freedom" year={2023} rate={8.5} href="/detail" img={controlImg} alt="movie"  />
        </div>
        <div class="col-2-lg col-3-md col-6-sm">
            <Card title="Sound of Freedom Sound of Freedom" year={2023} rate={8.5} href="/detail" img={controlImg} alt="movie"  />
        </div>
        <div class="col-2-lg col-3-md col-6-sm">
            <Card title="Sound of Freedom Sound of Freedom" year={2023} rate={8.5} href="/detail" img={controlImg} alt="movie"  />
        </div>
        <div class="col-2-lg col-3-md col-6-sm">
            <Card title="Sound of Freedom Sound of Freedom" year={2023} rate={8.5} href="/detail" img={controlImg} alt="movie"  />
        </div>
    </div>
    <button type="button" aria-label="load-more" class="load-more   btn btn-skew round-8 d-flex mx-auto  px-9 py-7 ">load more</button>
</section>
<style lang="scss">
    .row{
        row-gap: 20px;
    }
    h4{
        color: var(--white);
        text-transform: capitalize;
    }
    button{
        text-transform: capitalize;
        margin-block: 36px 60px;
    }
</style>